In [5]:
import os
import pandas as pd
import json
from IPython.display import HTML

class DataParser:
    def parse_file(self, filepath):
        _, file_extension = os.path.splitext(filepath)
        data = pd.DataFrame()  # Initialize an empty DataFrame for fallback.
        metadata = {'Error': 'File could not be processed or empty.'}
        try:
            if file_extension.lower() in ['.csv']:
                return self._process_dataframe(pd.read_csv(filepath))
            elif file_extension.lower() in ['.xls', '.xlsx']:
                return self._process_dataframe(pd.read_excel(filepath))
            elif file_extension.lower() in ['.json']:
                return self._process_dataframe(self.parse_json(filepath))
            elif file_extension.lower() in ['.ndjson']:
                return self._process_dataframe(self.parse_ndjson(filepath))
            else:
                raise ValueError(f"Unsupported file type: {file_extension}")
        except Exception as e:
            return pd.DataFrame(), {'Error': f"Error parsing {filepath}: {str(e)}"}

    def parse_json(self, filepath):
        with open(filepath, 'r') as file:
            data = json.load(file)
        try:
            if isinstance(data, list):
                if all(isinstance(item, dict) for item in data):
                    return pd.json_normalize(data)
                else:
                    raise ValueError("JSON list elements are not all dictionaries.")
            elif isinstance(data, dict):
                return pd.json_normalize(data, max_level=1)  # Adjust max_level if needed
            else:
                raise ValueError("JSON structure is not recognized.")
        except Exception as e:
            raise ValueError(f"Error normalizing JSON data: {str(e)}")

    def parse_ndjson(self, filepath):
        data = []
        with open(filepath, 'r') as file:
            for line in file:
                data.append(json.loads(line))
        return pd.json_normalize(data)

    def _process_dataframe(self, df):
        metadata = []
        try:
            if not df.empty:
                for col in df.columns:
                    dtype = df[col].dtype
                    sql_type = self._map_dtype_to_sql(dtype)
                    # Check if column contains lists and handle accordingly
                    if any(isinstance(x, list) for x in df[col].dropna()):
                        max_length = df[col].dropna().apply(lambda x: max([len(str(item)) for item in x] if x else [0])).max()
                    else:
                        max_length = df[col].apply(lambda x: len(str(x)) if pd.notnull(x) else 0).max()
                    metadata.append({'Field Name': col, 'Data Type': sql_type, 'Field Length': max_length})
            else:
                metadata.append({'Field Name': 'Error', 'Data Type': 'N/A', 'Field Length': 'N/A'})
        except Exception as e:
            metadata = [{'Field Name': 'Error', 'Data Type': 'N/A', 'Field Length': f"Processing Error: {str(e)}"}]
        return df.head(10), metadata

    def _map_dtype_to_sql(self, dtype):
        if pd.api.types.is_integer_dtype(dtype):
            return 'INT'
        elif pd.api.types.is_float_dtype(dtype):
            return 'FLOAT'
        elif pd.api.types.is_string_dtype(dtype):
            return 'VARCHAR'
        elif pd.api.types.is_datetime64_any_dtype(dtype):
            return 'DATETIME'
        else:
            return 'TEXT'

def parse_directory(directory_path):
    parser = DataParser()
    results = {}
    metadata = {}
    for filename in os.listdir(directory_path):
        filepath = os.path.join(directory_path, filename)
        if os.path.isfile(filepath):
            data, meta = parser.parse_file(filepath)
            results[filename] = data.to_html()  # Ensuring data is always a DataFrame.
            if isinstance(meta, dict):  # Handle single error message
                metadata[filename] = pd.DataFrame([meta]).to_html(index=False)
            else:
                metadata[filename] = pd.DataFrame(meta).to_html(index=False)
    return results, metadata

# Define the directory path and display results.
directory_path = r"C:\Users\robel\Desktop\Different Datasets"
results, metadata = parse_directory(directory_path)
count = 0
max_display = 5
for filename in results:
    if count < max_display:
        print(f"Filename: {filename}")
        print("Data Preview:")
        display(HTML(results[filename]))
        print("Metadata Table:")
        display(HTML(metadata[filename]))
        count += 1

Filename: customers.csv
Data Preview:

Metadata Table:

Filename: patient_records.ndjson
Data Preview:

Metadata Table:

Filename: sales_orders.json
Data Preview:

Metadata Table:

Filename: sample_business_csv_data.csv
Data Preview:

Metadata Table:

Filename: sample_nested_json_data.json
Data Preview:

Metadata Table: